/* Start Variables */
:root {}

/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

/* Container Widths */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Landing Page */
header {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

hr {
    color: white;
    margin: 20px 50px;
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 70px;
}

nav {
    margin-right: 500px;
}

nav a {
    text-decoration: none;
    padding-right: 50px;
    color: white;
    font-size: 20px;
    font-weight: 900;
}

nav a:hover {
    color: #1B1E31;
}

.search-icon {
    font-size: 25px;
}

.landing-page {
    background: linear-gradient(to right, #1B1E31E5, #1B1E3100), url(../imgs/landing.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    height: 100vh;
}

.landing {
    padding-left: 300px;
    padding-top: 100px;
    color: white;
    width: 40%;
}

.landing h1 {
    padding: 10px 0;
    color: white;
}

.landing p {
    padding-bottom: 100px;
}

span {
    color: #60C880;
}

p {
    font-size: 20px;
    font-weight: 500;
}

button {
    background-color: #60C880;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: none;
}

button:hover {
    background-color: #1ad749;
}

.arrow {
    margin-left: 1400px;
    margin-top: 10px;
    display: flex;
    background-color: #60C880;
    width: 80px;
    height: 80px;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.arrow i {
    font-size: 20px;
    font-weight: 700;
}

/* End Landing Page */

/* Start About Us */
#AboutUs {
    padding: 150px 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#AboutUs .about-logo {
    width: 70%;
    margin-left: 50px;
}

section h1 {
    color: #60C880;
    font-size: 40px;
}

#AboutUs .about-text p {
    margin-top: 10px;
}

#AboutUs .about-text button {
    margin-top: 20px;
}

/* End About Us */

/* Start Services */
#services {
    padding: 50px 150px;
}

.Services-content {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
}

.Services-content .content {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px;
}

.Head {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #60C880;
    width: 90px;
    height: 80px;
    border-radius: 50%;
    margin-right: 30px;
}

.Services-content .content button {
    margin-top: 20px;
}

#services a {
    color: #60C880;
}

/* End Services */

/* Start Project Stages */
.Project-Stages {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-color: #1B1E31;
    padding: 50px 150px;
}

.Project-Stages h2 {
    color: white;
}

.project-grid {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.pro {
    padding: 30px;
    height: 300px;
    border: 1px solid gray;
}

.pro h2 {
    margin-top: 20px;
    padding-bottom: 20px;
    color: black;
}

/* End Project Stages */

/* Start Choose */
.choose {
    padding: 50px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-text {
    width: 40%;
}

/* End Choose */

/* Start Clients */
.clients {
    padding: 50px 150px;
}

.clients div {
    border: 1px solid gray;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(5, 1fr);
}

/* End Clients */

/* Start Technology Stack */
.Technology-Stack {
    padding: 50px 150px;
}

.Technology-Stack .tracks {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.Technology-Stack .front .images {
    display: flex;
    justify-content: space-between;
}

.Technology-Stack .images img {
    width: 154px;
    height: 120px;
}

/* End Technology Stack */

/* Start News */
.news {
    padding: 50px 150px;
}

.news .parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news .parent .child {
    width: 431px;
    height: 370px;
    transition: 0.3s ease, transform 0.2s ease-in-out;
    border: 1px solid gray;
}

.news .parent .child:hover {
    transform: scale(1.05);
}

.news .parent .child img {
    width: 400px;
}

/* End News */

/* Start Notes */
.notes {
    padding: 50px 150px;
    background-color: #60C880;
    color: white;
}

.notes h1 {
    color: white;
}

.notes form {
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

input {
    width: 410px;
    background-color: #60C880;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 20px;
}

.notes form button {
    background-color: white;
    color: black;
}

.notes form button:hover {
    background-color: #eee;
}

/* End Notes */

/* Start Footer */
footer {
    padding: 50px 150px 0 150px;
    color: white;
    background-color: #1B1E31;
    height: 200px;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: #60C880;
}

.final {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #787777;
    font-weight: 100;
    font-size: 10px;
}

/* End Footer */